.root {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgb(85, 151, 209);
}

.page {
    height: 650px;
    width: 550px;

    background: linear-gradient( rgba(255, 255, 255, 0.653), rgba(255, 255, 255, 0.455)) ;

    border-radius: 20px;

    overflow: scroll;
    padding-top: 20px;
    padding-left: 15px;

    box-sizing: border-box;

    box-shadow: 0 0 25px;
}

.page::-webkit-scrollbar {
    display: none;
}

.page > div {
    font-size: 20px;
    margin: 15px;
}

.wordBlock {
    transition: 0.4s;

    border-radius: 10px;

    padding: 10px;
}

.wordBlock:hover {
    box-shadow: 5px 5px 10px;
}