.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  row-gap: 1rem;

  justify-items: center;

  border-radius: 1.5rem;
  padding: 1.5em;
  margin: 1em;
  
  min-width: 25rem;
  transition: min-width 0.3s;
}

@media(min-width: 650px) {
  .container {
    gap: 1rem;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr auto;

    min-width: 35em;
  }
}

@media(max-width: 450px) {
  .container {
    min-width: 15rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
}

@media(min-width: 650px) {
  .sidebar {
    grid-column: 2;
    grid-row: 1 / 2;
  }
}

.wrapBtn {
  grid-row: 3;
}

@media(min-width: 650px) {
  .wrapBtn {
    grid-row: 2;
  }
}

.name {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

@media(max-width: 650px) {
  .name {
    font-size: 2rem;
  }
}
