.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  

    min-height: 100vh;
}

.header {
    display: flex;
    align-content: center;

    height: 100px;
}

.settings_button {
    margin-right: 0px !important;
    margin-left: auto !important;
}

.settings_button img{
    width: 32px;
}