.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

.score {
    margin-bottom: 15px;
    color: #2c3636;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0);
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2px);
    border-radius: 10px;
    height: 350px;
    width: 400px;

    transition: border 1s;
}

.containerR {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 5px solid red;
    background  : linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    height: 350px;
    width: 400px;

    transition: border 1s;
}

.containerG {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 5px solid lime;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    height: 350px;
    width: 400px;

    transition: border 1s;
}

.header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85px;
    width: 100%;

    margin-bottom: 55px;
    background-color: rgba(0, 139, 139, 0.17);
}

.factor {
    position: absolute;
    top: 50%;
}

.streak {
    position: absolute;
    top: 25%;

    display: flex;
    flex-direction: row;
}

.streak > div {
    margin: 5px;
}

.timer {
    position: absolute;
    right: -55px;
    top: 0px;

    font-size: 24px;
    text-align: center;
    
    height: 36px;
    width: 36px;

    border: 2px solid rgba(204, 191, 191, 0.455);
    border-radius: 50%;
}

.word {
    color: #2c3636;
    font-size: 32px;
}

.translation {
    font-size: 20px;
}

.buttons {
    position: absolute;
    bottom: 15px;

    display: flex;
    justify-content: space-around;

    width: 100%;
}

.buttons > button {
    height: 50px;
    width: 110px;

    border: none;
    outline: none;

    border-radius: 5px;
}

.buttons button:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.537);
}

.buttons button:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.537);
}

.buttons button:nth-child(1):active {
    background-color: rgb(214, 23, 23);
}

.buttons button:nth-child(2):active {
    background-color: rgb(6, 194, 6);
}

.gameOver_hidden {
    display: none;
}

.lastWords {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60px;
    overflow: scroll;

    margin-top: 15px;
}

.lastWords::-webkit-scrollbar {
    width: 0;
  }