.root {
  display:  flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 12.5rem;
}

.img {
  border-radius: 100%;
  border: 2px solid white;
  object-fit: cover;

  width: 8rem;
  height: 8rem;

  margin-bottom: .5rem;

  position: relative;
}

.img::before {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  text-align: center;
}

.icon svg {
  font-size: 2rem;
}

.iconLarge svg {
  font-size: 7rem;
}

.wrapWord {
  display: flex;
  align-items: center;
}

.word {
  font-size: 1.75rem;
  margin: 0;
}

@media (max-width: 500px) {
  .word {
    font-size: 1.5rem;
    word-wrap: break-word;

    max-width: 60vw;
  }
}